<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        color: rgb(238, 232, 232);
    }
    .tela{
        padding:0 10px;

    }
    header{
        padding: 10px;
        background: blue;
        text-align:center;
        font-size: 40px;
        font-weight: bold;
        
    }
    .tabela{
        display: flex;
        justify-content: center;
       
    }
    .graficos{
        display: grid;
        justify-content: center;
        
        padding: 10px 0;
        
    }

</style>
<body>
    <header>
        Gráficos
    </header>
    <div class="tela">
        <div class="tabela">
            <img src="https://i.imgur.com/piQ9vZe.jpg?3" width="750px">
        </div>
        <div class="graficos">
            <img src="https://i.imgur.com/AK2WUcw.jpg?2" alt="">
            <img src="https://i.imgur.com/3xgrt05.jpg?2" alt="" style="margin-top: 10px;">
        </div>
    </div>
</body>
</html>